<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 well">
		<h1>Editing Status</h1>

		<%= render 'form' %>

		<%= link_to 'Show', @status %> |
		<%= link_to 'Back', statuses_path %>
	</div>
  </div>
</div>